<!-- Footer -->
<footer class="page-footer ">
<div class="row">
          <p class="text-uppercase col-md-1 font-weight-bold"></p>
          <p class="text-uppercase col-md-2 font-weight-bold"><a routerLink ="/about">About</a></p>
          <p class="text-uppercase col-md-2 font-weight-bold">*</p>
          <p class="text-uppercase col-md-2 font-weight-bold"><a href="Contact Us">Contact Us</a></p>
          <p class="text-uppercase col-md-3 font-weight-bold">*</p>
          <p class="text-uppercase col-md-2 font-weight-bold"><a href="https://github.com/AlexDotExe">Creator</a> </p>
</div>
  </footer>