
<div class = 'one'>
    <div class = 'row'>
        <div class = 'col-md-1'></div>    
       <div class="col-md-3"><h1 class = 'title1'>Backed by Science.</h1></div> 
        <div class = 'col-md-4'></div>
        <div class = 'col-md-4'><h3 class = 'text1'>The inspiration for Circle came from an observation made by the British Anthropologist Robin Dunbar in the 1990s. He noticed that the 
            bigger an animal's brain, the bigger it's social group. After crunching some numbers, he made a prediction : Humans are capable of having
            a maximum 150 meaningful social relationships at any given time. Since then studies have been done proving the precision of the now famous "Dunbar's Number".
            Don't believe me??? Let me <a href="https://www.google.com/search?q=dunbar%27s+number&rlz=1C1GCEA_enUS811US811&oq=dunbar&aqs=chrome.2.69i57j46i67i275i433j0i67i433i457j0i67i395l3j46i175i199i395j69i60.4495j1j7&sourceid=chrome&ie=UTF-8">
            google</a> that for you 
        </h3>
        </div>
    </div>
</div>

<div class = 'two'>
    <div class='row'>
        <h3 class = 'text2 col-md-4'>If those studies weren't enough, Think about this. We are more technologically connected than ever in the history of humankind. Yet Depression levels are on the <a href="https://www.nbcnews.com/health/health-news/major-depression-rise-among-everyone-new-data-shows-n873146">rise.</a>
            And we don't want to point any fingers but some of those *cough* <a href="https://time.com/4793331/instagram-social-media-mental-health/">OTHER</a>  apps you have may be to blame</h3>
        <div class = 'col-md-4'></div>
        <div class="col-md-4"><h1 class = 'title2 '>Right on Time.</h1></div>
    </div>
</div>

<div class ='three'>
    <div class="row">
 <div class = 'col-md-4'></div>   
<h1 class = 'title3 col-md-4'>Take. Back. Control.</h1>
</div>
<div class="row">
<h3 class = 'text3 col-md-4'>While other social media apps are taking your information and selling it when you may not even know it, 
    Circle aims to be different.</h3>
<h3 class = 'text3 col-md-4'>We strive to make you the customer not the product.</h3>
<h3 class = 'text3 col-md-4'>Which is why instead of using your information to sell you the latest gadget, we ask for it (you can say no) and we use it
to match you and your circles with activites that will leave you with memories not likes! </h3>
</div>
</div>
<div class = "row">
<!--h2 class = 'col-md-4'>Concerts</h2>
<h2 class = 'col-md-4'>Art Classes</h2>
<h2 class = 'col-md-4'>Stand-Up</h2>
</div>
<h1>Find Your Circle Today!</h1-->