.one{
background-image: url(src/assets/about/about1.jpg) ;
background-size: cover;
height: 800px;}
.two{
    background-image: url(src/assets/about/about2.jpg) ;
    background-size: cover;
    height: 800px;}
.three{
        background-image: url(src/assets/about/about3.jpg) ;
        background-size: cover;
        height: 800px;}
.text1,.text2,.text3{
    margin-top: 20%;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.384);
    font-style: italic;
 
}

.title1,.title2,.title3{
  
    text-align: center;
    color: rgb(0, 0, 0) !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 40%;
    background-color: rgba(255, 255, 255, 0.719);
}
.title1,.title2{
    margin-top: 90%;
}
.title3{
    margin-top: 5%;
}