<div class="sidebar">
    <img src="assets/circles.jpg" width="300" height="150">
    <div style="text-align: center; font-size: 1em">Welcome to the Circle home page. Come here to
        check in with your favorite Circles.</div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateCircle" (click)="goToCreateCircle()">Create Circle</button>
    </div>
</div>